/*import other files for us to use*/
@import 'config';


.game-title{
    text-align: center;
    color: $forth-color;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    height: 300px;
    width: 400px;
    
}

.grid-hold{
    padding-left: 540px;

}

@mixin media-med{
    .grid-hold{
        padding-left: 300px;
    }
    .game-title{
        color:$primary-color;
    }
}


@mixin media-med-2{
    .grid-hold{
    padding-left: 200px;
    }
}